<h1 class="text-center"><%= @user.name %></h1>
<div class="container">
<div class="text-center">

  <h4><strong> Events You Created </strong></h4>
<ol class="list-unstyled">
  <% @creators_events.each do |event| %>
      <li>
        <%= link_to event.name, event %>
      </li>
  <% end %>
</ol>
<hr>  
  <h5><strong> Past Events </strong></h5>
  <ol class="list-unstyled">
    <% @past_user_events.each do |event| %>
      <li>
        <%= link_to event.name, event %>
      </li>
    <% end %>
  </ol>
  <hr>
  <h5><strong> Upcoming Events To Attend </strong></h5>

<ol class="list-unstyled">
  <% @upcoming_user_events.each do |event| %>
      <li>
        <%= link_to event.name, event %>
      </li>
  <% end %>
</ol>
</div>
<hr>
  <ul class="nav d-flex justify-content-center mt-5"> 
    <li>
      <%= current_user_links(@user) %>  
    </li>
    <li>
      <%= current_user_links2(@user)  %>
    </li>
  </ul>
</div>
