<div class="container">
  <h1> <%= @event.name %> </h1>
  <h4>Event Creator: <%= link_to @event.user.name, @event.user %></h4>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th> Description </th>
      <th> Location </th>
      <th> When </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @event.description %> </td>
      <td><%= @event.location %></td>
       <td><%= @event.starts_at %> </td>
    </tr>
  </tbody>
</table>
<% if event_creator? %>
  <%= link_to 'Edit Event', edit_event_path(@event) %> |
  <%= link_to 'Delete Event', event_path, method: :delete %>
<% end %>
</div>